/*
/**/*
!/.gitignore
!/Fira_Code_v6.2_Nerd_Font.zip
!/README.md
!/nvim/
!/nvim/init.lua
!/nvim/lua/
!/nvim/lua/*.lua
!/nvim/lua/user/
!/nvim/lua/user/*.lua
!/nvim/lua/user/config/
!/nvim/lua/user/config/*.lua
!/nvim/lua/user/config/lsp-configurations/
!/nvim/lua/user/config/lsp-configurations/*.lua
!/nvim/lua/user/plugins/
!/nvim/lua/user/plugins/*.lua
